# Executable output
Compilers/signatures
LLVMIR/result
LLVMIR/code
Epsilon.exe
*.so

# VSCode stuff
c_cpp_properties.json
launch.json
settings.json

# Replit stuff
.cache
.local
.replit
replit.nix

# Misc tools
.ackrc
vgcore.*
.vscode

# C# stuff
obj
bin
*.pdb

# Intermediate files
*.pyc
*.bc
*.ll
/temp/*
*.o

# Epsilon specific
*.epslcache
.*.epslspec

_sub
