# Replit stuff
.cache
.local
.replit
replit.nix

# Misc tools
.ackrc
vgcore.*
Epsilon.pdb

# Executable output
Epsilon.exe
LLVMIR/result

# Intermediate files
*.pyc
*.bc
*.ll
/temp/*

# Epsilon specific
*.epslcache
*.epslspec
!/libs/**/*.epslspec
/libs/**/.*.epslspec
!/tests/**/*.epslspec
/tests/**/.*.epslspec
