[submodule "Cs-JSON-Tools"]
	path = Cs-JSON-Tools
	url = https://github.com/budopod1/Cs-JSON-Tools.git
[submodule "Cs-Command-Line"]
	path = Cs-Command-Line
	url = https://github.com/budopod1/Cs-Command-Line.git
[submodule "EPSL-BinJSON"]
	path = EPSL-BinJSON
	url = https://github.com/budopod1/EPSL-BinJSON
[submodule "EPSL-IR-Gen"]
	path = EPSL-IR-Gen
	url = https://github.com/budopod1/EPSL-IR-Gen.git
