*.pyc
.ackrc
.cache
.local
.replit
Epsilon.exe
Epsilon.pdb
builtins.bc
builtins.ll
code
code-linked.bc
code-linked.ll
code-opt.bc
code-opt.ll
code.bc
code.json
code.ll
err.txt
output.mlpd
replit.nix
result
vgcore.*
