[submodule "Cs-JSON-Tools"]
	path = Cs-JSON-Tools
	url = https://github.com/budopod1/Cs-JSON-Tools.git
[submodule "EPSL-BinJSON"]
	path = EPSL-BinJSON
	url = https://github.com/budopod1/EPSL-BinJSON
[submodule "EPSL-IR-Gen"]
	path = EPSL-IR-Gen
	url = https://github.com/budopod1/EPSL-IR-Gen.git
[submodule "EEWriter"]
	path = EEWriter
	url = https://github.com/budopod1/EEWriter.git
[submodule "C-Run-Command"]
	path = C-Run-Command
	url = https://github.com/budopod1/C-Run-Command
[submodule "Cs-Command-Config"]
	path = Cs-Command-Config
	url = https://github.com/budopod1/Cs-Command-Config
