run = "./testpipeline.bash examples/hello.eps"

hidden = [".git", "venv", "Epsilon.exe", "Epsilon.pdb", "output.mlpd", ".config", ".gitignore", "pyerr.txt", "basherr.txt", "code.bc", "code-opt.bc", "builtins.bc", ".local", "code", "code-linked.bc", ".ackrc"]

[env]
DOTNET_NOLOGO = "1"
DOTNET_CLI_TELEMETRY_OPTOUT = "1"

[nix]
channel = "stable-22_11"

[languages]

[languages.python3]
pattern = "**/*.py"

    [languages.python3.languageServer]
    start = "pylsp"

[languages.csharp]
pattern = "**/*.cs"

    [languages.csharp.languageServer]
    start = ["OmniSharp", "--languageserver"]
